.container-fluid {
    background-color: #CEEDE2;
}

 .navbar-nav.nav-justified > li{
    float:none;
     background-color: #CEEDE2;
}

#displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
}
h1{
    color:#24915A;
    font-size:4em;
    font-weight:600;
    text-align: center;
    font-family: LoveloBlack;
}

h5{
   color:white;
    font-size:4em;
    font-weight:600;
    text-align: center;
    font-family: LoveloBlack;
}

h2{
  color:white;
  font-size:2em;
  font-weight:400;
  background-color: #4FB88F;
  display: inline;
  font-family: Roboto;
  padding-left: 0.2em;
  padding-right:  0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h4{
  color:white;
  font-size:2em;
  font-weight:400;
  display: inline;
  font-family: Roboto;
  padding-left: 0.2em;
  padding-right:  0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h3{
  color:white;
  font-size:2em;
  font-weight:400;
  display: inline;
  font-family: Roboto;
  padding-left: 0.2em;
    padding-right:  0.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

input[type=text], input[type=password] {
   border-radius: 0.5em;
}

input[type=text]{
  width:12.5em;
  height:2.5em;
  display: inline;
  margin-right:1em;
  margin-left:20em;
  line-height: 1em;
}

input[type=password]{
  width:12.5em;
  height:2.5em;
  display: inline;
  margin-left:1em;
  line-height: 1em;
}


input.form-control::-webkit-input-placeholder{
  font-family: Roboto;
  font-weight: 100;
  font-size: x-large;
  padding-bottom:7em;
}
input.form-control:-moz-placeholder{
  font-family: Roboto;
  font-weight: 100;
  font-size: x-large;
  padding-bottom:7em;
}

#Button1 {
    color:white;
    background-color: #3A863F;
    font-size:x-large;
    font-family: LoveloBlack;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
}

#Button2{
  background-color: white;
  color:#25955F;
  font-family: Roboto;
  font-size:x-large;
  font-weight: 200;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  border-color:#3A863F;
}


li#styledlist{
  color:#25955F;
  font-weight: 200;
  font-size: x-large;
  font-family: Roboto;
  text-align: center;
}

li#styledlist2{
  color:white;
  background-color:#39833D;
  font-weight: 200;
  font-size: x-large;
  font-family: Roboto;
  text-align: center;
}

#textbox {
  width: 22em;
  height:2.5em;
  display: inline;
  margin-left:30em;
  line-height: 1.3em;
  border-radius: 0em;
}

#Button3 {
  color:white;
  background-color: #4FB88F;
  font-family: Roboto;
  margin-right:35em;
  margin-bottom: 5em;
  border-radius: 0em;
}

#Button4{
  background-color: white;
  color:#238B53;
  font-family: Roboto;
  font-size:large;
  font-weight: 200;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
}