.container-fluid {
    background-color: #CEEDE2;
}

 .navbar-nav.nav-justified > li{
    float:none;
     background-color: #CEEDE2;
}

#displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color:#24915A;
    font-size:4em;
    font-weight:600;
    text-align: center;
    font-family: LoveloBlack;
}

h5{
   color:white;
    font-size:4em;
    font-weight:600;
    text-align: center;
    font-family: LoveloBlack;
}

h2{
  color:white;
  font-size:2em;
  font-weight:400;
  background-color: #4FB88F;
  display: inline;
  font-family: Roboto;
  padding-left: 0.2em;
  padding-right:  0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h4{
  color:white;
  font-size:2em;
  font-weight:400;
  display: inline;
  font-family: Roboto;
  padding-left: 0.2em;
  padding-right:  0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h3{
  color:white;
  font-size:2em;
  font-weight:400;
  display: inline;
  font-family: Roboto;
  padding-left: 0.2em;
    padding-right:  0.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

input[type=text], input[type=password] {
   border-radius: 0.5em;
}

input[type=text]{
  width:12.5em;
  height:2.5em;
  display: inline;
  margin-right:1em;
  margin-left:20em;
  line-height: 1em;
}

input[type=password]{
  width:12.5em;
  height:2.5em;
  display: inline;
  margin-left:1em;
  line-height: 1em;
}


input.form-control::-webkit-input-placeholder{
  font-family: Roboto;
  font-weight: 100;
  font-size: x-large;
  padding-bottom:7em;
}
input.form-control:-moz-placeholder{
  font-family: Roboto;
  font-weight: 100;
  font-size: x-large;
  padding-bottom:7em;
}

#Button1 {
    color:white;
    background-color: #3A863F;
    font-size:x-large;
    font-family: LoveloBlack;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
}

#Button2{
  background-color: white;
  color:#25955F;
  font-family: Roboto;
  font-size:x-large;
  font-weight: 200;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  border-color:#3A863F;
}


li#styledlist{
  color:#25955F;
  font-weight: 200;
  font-size: x-large;
  font-family: Roboto;
  text-align: center;
}

li#styledlist3{
  color:#CDCDCD;
  font-weight: 200;
  font-size: large;
  font-family: Roboto;
  text-align: center;
}
li#styledlist2{
  color:white;
  background-color:#39833D;
  font-weight: 200;
  font-size: x-large;
  font-family: Roboto;
  text-align: center;
}

#textbox {
  width: 22em;
  height:2.5em;
  display: inline;
  margin-left:30em;
  line-height: 1.3em;
  border-radius: 0em;
}

#Button3 {
  color:white;
  background-color: #4FB88F;
  font-family: Roboto;
  margin-right:35em;
  margin-bottom: 5em;
  border-radius: 0em;
}

#Button4{
  background-color: white;
  color:#238B53;
  font-family: Roboto;
  font-size:large;
  font-weight: 200;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 0.313em;
}

.social ul li {
    margin: 0.4em;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}